<% content_for :title, "Editing adicional" %>

<h1>Editing adicional</h1>

<%= render "form", adicional: @adicional %>

<br>

<div>
  <%= link_to "Show this adicional", @adicional %> |
  <%= link_to "Back to adicionals", adicionals_path %>
</div>
