<div id="<%= dom_id producto %>">
  <p>
    <strong>Name:</strong>
    <%= producto.name %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= producto.descripcion %>
  </p>

  <p>
    <strong>Precios:</strong>
    <%= producto.precios %>
  </p>

</div>
