<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title> INSPINIA | <%= title || "Welcome" %> - Responsive Bootstrap 5 Admin Dashboard</title>
<meta content="WebAppLayers" name="author" />

<!-- Favicon -->
<link rel="shortcut icon" href="<%= image_path("favicon.ico") %>">