<!-- Modal para editar pizza -->
<div class="modal fade" id="editPizzaModal" tabindex="-1" aria-labelledby="editPizzaModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editPizzaModalLabel">Editar Pizza</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body" id="editPizzaModalBody">
        <!-- El formulario de edición se cargará dinámicamente aquí -->
      </div>
    </div>
  </div>
</div>
