<!-- Modal para crear pizza -->
<div class="modal fade" id="newPizzaModal" tabindex="-1" aria-labelledby="newPizzaModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newPizzaModalLabel">Nueva Pizza</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body" id="newPizzaModalBody">
        <!-- El formulario se cargará dinámicamente aquí -->
      </div>
    </div>
  </div>
</div>
