<div class="row" id="productos-list">
  <% if defined?(@productos) && @productos.any? %>
    <%= render partial: "admin/producto_card", collection: @productos, as: :producto %>
  <% end %>

  <% if defined?(@pizzas_tradicionales) && @pizzas_tradicionales.any? %>
    <%= render partial: "admin/pizza_tradicional_card", collection: @pizzas_tradicionales, as: :pizza %>
  <% end %>

  <% if defined?(@pizzas_especiales) && @pizzas_especiales.any? %>
    <%= render partial: "admin/pizza_especial_card", collection: @pizzas_especiales, as: :pizza %>
  <% end %>

  <% unless (defined?(@productos) && @productos.any?) || (defined?(@pizzas_tradicionales) && @pizzas_tradicionales.any?) || (defined?(@pizzas_especiales) && @pizzas_especiales.any?) %>
    <p>No hay productos ni pizzas disponibles.</p>
  <% end %>
</div>