
#menu header {
    height: 140px;
    background-color: #4d4b4b;
    text-align: center;
    padding: 20px 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px 12px 12px 12px;
  }
  
  .logo-grande {
    width: 400px;
    height: auto;
    border-radius: 10px;
  }
  
  #menu nav {
    margin-top: 20px;
    display: flex;
    justify-content: space-between; /* Distribuye los elementos dentro del nav */
    align-items: center;
    background-color: #4d4b4b;
    height: 100px;
    border-radius: 12px 12px 12px 0px;
    position: relative;
  }
  
  #menu .logo2 {
    margin-top: 17px;
    width: 120px;
    height: auto;
    display: block;
    margin-right: 15px;
    border-radius: 12px;
  }
  
  #menu nav .texto {
    font-size: 1.8em;
    color: #e65907;
    margin: 0;
    padding: 0;
  }
  
  #menu .iconos {
    margin-bottom: 20px;
    margin-right: 20px;
    background-color: #4d4b4b;
    display: flex;
    justify-content: flex-end; /* Alinea los iconos a la derecha */
    align-items: center;
    margin-left: auto; /* Empuja los iconos hacia la derecha */
  }
  
  #menu .icono {
    width: 35px;
    margin: 0 5px;
  }

  
  #menu .lista-menu {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    list-style: none;
    margin-top: 30px;
  }
  
  #menu .lista-menu li {
    display: inline-block;
    margin: 10px;
  }
  
  #menu .menu-img {
    width: 120px;
    height: 120px; 
    border-radius: 10px;
    transition: transform 0.3s ease;
  }
  
  #menu .menu-btn {
    text-decoration: none; 
    display: inline-block;
  }
  
  #menu .menu-img:hover {
    transform: scale(1.1);
  }
  
  #menu .boton-amarillo {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    background-color: #f4b400;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  #menu .boton-amarillo:hover {
    background-color: #d49d00;
  }