<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Menú salvajadas</title>
  <%= stylesheet_link_tag 'carta', media: 'all' %>
</head>
<body>
  <div class="menu-contenedor">
    <h1>SALVAJADAS</h1>
    <p class="subtitulo">Incluyen: pan super, salchicha, lechuga, papa chongo, salsa tártara y piña.</p>
    
    <ul class="lista-menu">
        <li><span class="nombre">▶ CUATRO SABORES (2 o 3 personas) </span><span class="precio">$42.000</span></li>
        <li><span class="nombre">▶ SALVAJADA (4 personas) </span><span class="precio">$54.000</span></li>
        <li><span class="nombre">▶ SUPER SALVAJADA (6 personas) </span><span class="precio">$63.000</span></li>
    </ul>

    <%= link_to "Volver a al menu", menu_path, class: "boton-amarillo" %>
  </div>
</body>
</html>