<div id="<%= dom_id subgrupo %>">
  <p>
    <strong>Name:</strong>
    <%= subgrupo.name %>
  </p>

  <p>
    <strong>Precio:</strong>
    <%= subgrupo.precio %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= subgrupo.descripcion %>
  </p>

</div>
