<% content_for :title, "Editing subgrupo" %>

<h1>Editing subgrupo</h1>

<%= render "form", subgrupo: @subgrupo %>

<br>

<div>
  <%= link_to "Show this subgrupo", @subgrupo %> |
  <%= link_to "Back to subgrupos", subgrupos_path %>
</div>
