<p style="color: green"><%= notice %></p>

<% content_for :title, "Subgrupos" %>

<h1>Subgrupos</h1>

<div id="subgrupos">
  <% @subgrupos.each do |subgrupo| %>
    <%= render subgrupo %>
    <p>
      <%= link_to "Show this subgrupo", subgrupo %>
    </p>
  <% end %>
</div>

<%= link_to "New subgrupo", new_subgrupo_path %>
