<div id="<%= dom_id grupo %>">
  <p>
    <strong>Nombre:</strong>
    <%= grupo.nombre %>
  </p>

  <% if grupo.foto.attached? %>
    <p>
      <%= image_tag grupo.foto.variant(resize_to_limit: [300, 300]) %>
    </p>
  <% else %>
    <p><em>Sin imagen</em></p>
  <% end %>
</div>
