body {
    background-image: url('fondo.png');  /* Cambia esto por la ruta de tu imagen */ /* Ajusta la imagen para cubrir todo el contenedor */
    background-position: center; /* Centra la imagen */
    font-family: Arial, sans-serif;
  }
  .container {
    margin: 40px;
    height: auto;
  }
  header{
    height: 180px;
  }
  .logo{
    width: 150px;
    border-radius: 12px;
  }
  .iconos{
    background-color: rgb(204, 15, 15);
    display: block;
    float: right;
    margin-top: 50px;
    border-radius: 12px;
  }
  .icono{
    width: 35px;
    margin: 5px;
  }
  .principal{
    display: flex;
  justify-content: space-between; 
  align-items: center; 
  }
  .datos{
    display: inline-block;
    color: #f58403;
    font-size: 20px;
  } 
  .dato2 {
    display: flex; /* Hace que los párrafos estén en línea horizontal */
    justify-content: space-between; /* Distribuye los párrafos con espacio entre ellos */
    align-items: center; /* Alinea los párrafos verticalmente en el centro */
    padding: 20px;
    border-radius: 10px;
  }
  
  .dato2 p {
    color: rgb(255, 115, 0);
    font-size: 18px;
    margin: 0 15px; /* Agrega espacio entre los párrafos */
  }
  .butones {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: auto;
    text-align: center;
  }
  .boton {
    width: 300px;
    margin: 5px;
    background-color: #ff020270; 
    color: white;
    border: none;
    padding: 20px 30px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    transition: background 0.6s; 
  }
  .boton:hover {
    background-color: #e00000; 
  } 
  footer {
    width: 100%; 
    height: 100px; 
    background-color: gray;
    color: #ff8800;
    position: fixed;
    bottom: 0;
    left: 0; 
    display: flex;
  }
  .boton2{
    margin: 40px;
    margin-left: 30px;
    color: rgb(255, 11, 11);
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    transition: background 0.6s; 
    font-size: 20px;
    font-weight: 200px;
  }
