.botones-navegacion {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 30px;
  text-align: center;
}

.boton-verde {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px;
  font-weight: bold;
  border-radius: 6px;
  text-decoration: none;
}

.boton-amarillo {
  background-color: #3f3b30;
  color: black;
  border: none;
  padding: 10px;
  font-weight: bold;
  border-radius: 6px;
  text-decoration: none;
}

.boton-verde:hover,
.boton-amarillo:hover {
  opacity: 0.9;
  cursor: pointer;
}
