<section>
    <h1>Producto</h1>
    <ul>
        <% @productos.each do |productos| %>
        <li>
            <%= link_to productos.name, grupo_producto_path(@grupo, productos) %>
        </li>
        <% end %>
    </ul>
</section>