.boton-container {
  text-align: center;
  margin-top: 30px;
}

.btn-contacto {
  text-align: center;
  margin-top: 30px;

  background-color: #f4ded6; /* color acorde al borde del acordeón */
  color: #000;
  padding: 12px 25px;
  border: 2px solid #d4a99a;
  border-radius: 8px;
  font-size: 1.1rem;
  font-family: 'Segoe UI', sans-serif;
  cursor: pointer;
  transition: all 0.3s ease;
  
}

.btn-contacto:hover {
  background-color: #d4a99a;
  color: #fff;
  border-color: #c48a78;
}
h1{
  text-align: center;
  font-size: 2.5rem;
  color: #333;
  margin-top: 20px;
  font-family: 'Segoe UI', sans-serif;
}
.btn-orange {
  background-color: var(--bs-orange);
  color: #fff;
  border: none;
}

.btn-orange:hover {
  background-color: #a94f30; /* un tono más oscuro al pasar el mouse */
  color: #fff;
}
