<% @page_title = "Login" %>

<% @body_attributes = "class=gray-bg" %>

<div class="middle-box text-center loginscreen animated fadeInDown">
  <div>
    <div class="mb-4">
      <a href="<%= url_for :controller => 'dashboards', :action => 'index' %>">
        <img alt="image" class="img-fluid logo-black mx-auto" src="<%= image_path("logo-black.png") %>">
        <img alt="image" class="img-fluid logo-white mx-auto" src="<%= image_path("logo-white.png") %>">
      </a>
    </div>
    <h3>Welcome to IN+</h3>
    <p>Perfectly designed and precisely prepared admin theme with over 50 pages with extra new web app views.
      <!--Continually expanded and constantly improved Inspinia Admin Them (IN+)-->
    </p>
    <p>Login in. To see it in action.</p>
    <form class="m-t" role="form" >
      <div class="form-group">
        <input type="email" class="form-control" placeholder="Username" required="">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" required="">
      </div>
      <button type="submit" class="btn btn-primary d-block w-100 mb-2">Login</button>

      <a href="#"><small>Forgot password?</small></a>
      <p class="text-muted text-center"><small>Do not have an account?</small></p>
      <div class="d-grid">
        <a class="btn btn-sm btn-white btn-block" href="<%= url_for :controller => 'auth', :action => 'register' %>">Create an account</a>
      </div>
    </form>

    <p class="mt-2">
      <small><strong>©</strong> 2014 -
        <script>document.write(new Date().getFullYear())</script>
        <a href="https://wrapbootstrap.com/theme/inspinia-responsive-admin-template-WB0R5L90S?ref=inspinia" target="_blank">Inspinia</a>
        By <span class="fw-bold">WebAppLayers</span>
      </small>
    </p>
  </div>
</div>