main {
    width: 100%;
    height: 100%;
    min-width: 500px;
    padding: 10px;
    background-color: white;
}

.sec1 {
    display: flex;
    margin: auto;
}

.sec2 {
    width: 80%;
    background-color: #8B0000; /* Vinotinto */
    box-shadow: 0 0 10px black;
    border-radius: 0 15px 15px 0;
    padding: 20px;
}

aside {
    width: 20%;
    background-color: #8B0000; /* Vinotinto */
    box-shadow: 0 0 10px black;
    border-radius: 15px 0 0 15px;
    padding: 20px;
}

aside a {
    font-size: 30px;
    color: #FFA500; /* Naranja */
}

.button {
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    color: #fff; /* Texto blanco */
    background-color: #FFA500; /* Naranja */
    transition: .3s ease;
    padding: 10px;
}

.button:hover {
    background-color: #FF4500; /* Naranja más oscuro */
    padding: 12px;
}

a {
    color: #FFA500; /* Naranja */
    text-decoration: none;
    transition: .03s ease;
}

a:hover {
    text-decoration: none;
    color: #f8f9fa; /* Blanco */
}

.input-form {
    border: none;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: #333; /* Fondo oscuro para inputs */
    color: #fff; /* Texto blanco */
}

.input-form:focus {
    outline: none;
    border: none;
}

#boton-borrar {
    margin: 10px 0;
    transition: .3s ease;
}

#boton-borrar:hover {
    padding: 10px;
}

header {
    border-radius: 10px 10px 0 0;
    background-color: #000; /* Fondo negro */
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 3px 15px black;
}

header img {
    width: 200px;
    border-radius: 50%;
    background-color: white;
    padding: 10px;
    margin: 25px;
    box-shadow: 0 0 10px;
}

header h1 {
    font-size: 100px;
    color: #FFA500; /* Naranja */
    text-shadow: 0 0 10px black;
}

nav {
    background-color: #8B0000; /* Vinotinto */
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin-bottom: 15px;
    box-shadow: 0 0 10px black;
}

nav a {
    font-size: 25px;
    color: #FFA500; /* Naranja */
}

footer {
    background-color: #000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    padding: 20px;
    flex-direction: column;
}

#usuario_email, #usuario_password {
    border-radius: 10px;
    padding: 8px;
    border: none;
    background-color: #333; /* Fondo oscuro para inputs */
    color: #fff; /* Texto blanco */
}

#usuario_email:focus, #usuario_password:focus {
    outline: none;
}